.quote {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  zoom: 120%;
}
@media only screen and (max-width: 1150px) {
  .quote {
    zoom: 0;
  }
}
blockquote {
  width: 80%;
  margin: 0 auto;
}

figcaption {
  width: 80%;
  margin: 0 auto;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  font-size: large;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}
